<div>
    <div class="form-content">
      <img src="../assets/coffee-logo.jpeg"/>
      <h2>Software Testing Company | ISTQB Certified</h2>
      <p>CoffeStain.io is a modern technology company specialized in <strong>software testing </strong> and<strong> software development</strong> services.
        We strongly believe that quality is the <strong> primary value attribute </strong> and it should be treated accordingly.
         <br><br>
        Send us your contact information for any inquiry that you have and we will <strong>get in touch </strong>as soon as possible.</p>
      <label>
        <input type="phone" [(ngModel)]= "phone" class="sd-form-control" placeholder="Enter your phone number." maxlength="15" required >
      </label>
      <label>
        <input type="email" [(ngModel)]= "email" class="sd-form-control" placeholder="Enter your email address."maxlength="30" required>
      </label>
      <div class="form-submit">
        <button type="submit" (click)="submitForm()">Submit</button>
      </div>
    </div>
  </div>
  <footer>
      CoffeeStain.io | 2017
  </footer>